<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Petri Net Editor</title>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link href="@Assets["PetriEditor.Client.bundle.scp.css"]" rel="stylesheet" />
    <link href="@Assets["_content/Z.Blazor.Diagrams/style.min.css"]" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <div id="app">
        <Routes />
    </div>
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
    <script src="@Assets["app.js"]"></script>
    <script src="@Assets["petri-editor.js"]"></script>
    <script src="@Assets["tree-view.js"]"></script>
    <script src="@Assets["graph-view.js"]"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
